# Finder files (macOS)
.DS_Store

# Build products
gcmasm
gcmdump
gvmdump
rcfdump
smsdumpbanks
smssynth
modsynth

# CMake files
CMakeCache.txt
CMakeFiles
Makefile
CTestTestFile.cmake
Testing
cmake_install.cmake
install_manifest.txt
