# Finder files (macOS)
.DS_Store

# Build products
libprs.a
afsdump
gcmdump
gsldump
gvmdump
rcfdump
pae2gvm
prsd
smsdumpbanks
smssynth
modsynth

# CMake files
CMakeCache.txt
CMakeFiles
Makefile
CTestTestFile.cmake
Testing
cmake_install.cmake
install_manifest.txt
